@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #333333;
}

@theme {
  --color-avocado-500: #8bac3e;
  --color-avocado-200: #f0feeb;
  --color-avocado-100: #f9fff6;

  --color-light-teal-500: #40a2b1;
  --color-light-teal-100: #e6f3f5;

  --color-ocean-blue-500: #405eb6;
  --color-ocean-blue-100: #eaeefa;

  --color-deep-rose-500: #b23f74;
  --color-deep-rose-100: #f9eef3;

  --color-lime-green-500: #a4b441;
  --color-lime-green-100: #f3f7d9;

  --color-scarlet-500: #e7462d;

  --color-dim-gray: #757575;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-rubik: var(--font-rubik);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-rubik);
}
