@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #333333;
}

@theme {
  /* ! custom colors from figma */
  --color-avocado-500: #8bac3e;
  --color-avocado-200: #f0feeb;
  --color-avocado-100: #f9fff6;

  --color-light-teal-500: #40a2b1;
  --color-light-teal-100: #e6f3f5;

  --color-ocean-blue-500: #405eb6;
  --color-ocean-blue-100: #eaeefa;

  --color-deep-rose-500: #b23f74;
  --color-deep-rose-100: #f9eef3;

  --color-lime-green-500: #a4b441;
  --color-lime-green-100: #f3f7d9;

  --color-scarlet-500: #e7462d;

  --color-dim-gray: #757575;
  --color-light-gray: #f2f2f2;
  --color-mask-gray: #c4c4c4;

  --color-cupcake: #f0feeb;
  --color-pizza: #e4f2f4;
  --color-kebab: #eaeefa;
  --color-kebab: #eaeefa;
  --color-salmon: #f9eef3;
  --color-doughnut: #f3f7d9;

  /* ! responsive font */
  --text-xs: clamp(0.75rem, 0.7vw, 0.875rem);
  --text-sm: clamp(0.875rem, 0.85vw, 1rem);
  --text-base: clamp(1rem, 1vw, 1.125rem);
  --text-lg: clamp(1.125rem, 1.2vw, 1.25rem);
  --text-xl: clamp(1.25rem, 1.5vw, 1.5rem);
  --text-2xl: clamp(1.5rem, 2vw, 1.875rem);
  --text-3xl: clamp(1.875rem, 2.5vw, 2.25rem);
  --text-4xl: clamp(2.25rem, 3vw, 3rem);
  --text-5xl: clamp(3rem, 4vw, 4rem);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-rubik: var(--font-rubik);
}
/* ! base appearance */
@layer base {
  html {
    font-size: 100%;
  }

  body {
    background: var(--background);
    color: var(--foreground);
    font-family: var(--font-rubik);
    font-size: var(--text-sm);
    line-height: 1.5;
  }

  button {
    @apply cursor-pointer font-medium disabled:cursor-not-allowed disabled:opacity-50;
  }

  @media screen and (max-width: 640px) {
    :root {
      --text-base: 0.875rem;
    }
  }

  @media screen and (min-width: 641px) and (max-width: 768px) {
    :root {
      --text-base: 0.9375rem;
    }
  }

  @media screen and (min-width: 769px) and (max-width: 1024px) {
    :root {
      --text-base: 1rem;
    }
  }

  @media screen and (min-width: 1025px) and (max-width: 1280px) {
    :root {
      --text-base: 1.0625rem;
    }
  }

  @media screen and (min-width: 1281px) {
    :root {
      --text-base: 1.125rem;
    }
  }
}
/* ! override util tailwind container */
@utility container {
  @apply mx-auto md:px-2 px-4 lg:px-12;
}

@layer utilities {
  .default-button-avocado {
    @apply transition-colors bg-avocado-500 hover:bg-avocado-500/80 text-white;
  }
  .default-button-light-gray {
    @apply transition-colors bg-light-gray hover:bg-light-gray/80 text-foreground;
  }
}

/* ! header */
@layer components {
  header {
    @apply container py-8;
  }
  .header__nav {
    @apply flex items-center justify-between gap-2;
  }
  .header__logo > img {
    height: auto;
    max-width: 100%;
  }
  .header__links {
    @apply md:flex md:items-center hidden gap-4 lg:gap-8;
  }
  .header__link-item {
    @apply relative;
  }
  .header__badge--hot {
    @apply absolute -right-6 -top-8 px-4 py-0.5 bg-scarlet-500 rounded-xl;
  }
  .header__badge--text {
    @apply text-xs text-white font-bold;
    font-size: var(--text-xs);
  }
  .header__link {
    @apply font-medium text-dim-gray;
  }
  .header__actions {
    @apply flex items-center gap-2;
  }
  .header__button--login {
    @apply md:block hidden;
  }
  .header__button--signup {
    @apply rounded-3xl md:px-4 md:py-3 px-2 py-2 font-medium md:text-sm text-xs;
  }
}

/* ! footer */
@layer components {
  footer {
    @apply container py-8;
  }
  .footer-large {
    @apply space-y-12 hidden md:block;
  }
  .footer-large__container {
    @apply bg-avocado-100 rounded-3xl py-8 px-8 grid lg:grid-cols-4 grid-cols-3 gap-x-4 gap-y-12;
  }
  .footer-large__copyright {
    @apply text-center text-dim-gray;
  }
  .footer-left {
    @apply space-y-8 lg:col-span-1 col-span-3 mx-auto;
  }
  .footer-left__first-wrapper {
    @apply space-y-5;
  }
  .footer-left__address {
    @apply max-w-[335px] text-dim-gray;
  }
  .footer-left__second-wrapper {
    @apply flex gap-2;
  }
  .footer-left__social-green {
    @apply bg-avocado-500 rounded-full w-10 h-10 flex items-center justify-center;
  }
  .footer-left__social-white {
    @apply bg-white rounded-full w-10 h-10 flex items-center justify-center;
  }
  .footer-title {
    @apply font-medium text-lg;
  }
  .footer-links {
    @apply space-y-8;
  }
  .footer-links__list {
    @apply flex flex-col gap-4;
  }
  .footer-links__item {
    @apply text-dim-gray;
  }
  .footer-right {
    @apply space-y-8;
  }
  .footer-right-content {
    @apply space-y-4;
  }
  .footer-right__description {
    @apply max-w-[245px] text-dim-gray;
  }
  .footer-right-inner {
    @apply space-y-4;
  }
  .footer-right__form {
    @apply flex;
  }
  .footer-right__input {
    @apply border-black rounded-l-lg border-l border-t border-b text-black placeholder:text-black px-4 py-2 w-full max-w-[210px];
  }
  .footer-right__button {
    @apply rounded-r-lg px-2;
  }
  .footer-right__contacts {
    @apply space-y-2;
  }
  .footer-right__contact {
    @apply flex items-center gap-2;
  }
  .footer-small {
    @apply md:hidden flex items-center justify-between;
  }
  .footer-small__menu {
    @apply flex flex-col gap-2 justify-center;
  }
  .footer-menu__icon {
    @apply mx-auto;
  }
  .footer-menu__text {
    @apply text-dim-gray;
  }
}

/* ! hero */
@layer components {
  .hero-section {
    @apply md:grid grid-cols-2 hidden justify-between gap-8 container items-center;
  }

  .hero-section__content {
    @apply max-w-[482px] space-y-8;
  }
  .hero-section__title {
    @apply text-avocado-500 md:text-6xl text-5xl font-medium;
  }
  .hero-section__description {
    @apply text-dim-gray;
  }
  .hero-section__buttons {
    @apply flex items-center gap-6;
  }
  .hero-section__buttons > button {
    @apply rounded-3xl px-6 py-3;
  }

  .hero-section__image-wrapper {
    @apply relative;
  }
  .hero-section__image-container {
    @apply flex items-center justify-center mx-auto;
  }
  .hero-section__image-container-mobile {
    @apply flex items-center justify-center mx-auto;
  }
  .hero-section__image {
    @apply border-32 border-mask-gray/20 rounded-full;
  }
  .hero-section__image-mobile {
    @apply border-20 border-mask-gray/20 rounded-full;
  }

  .hero-section__card {
    @apply flex gap-4 px-8 py-4 absolute left-0 bottom-0 bg-white/75 rounded-xl;
  }
  .hero-section__card-mobile {
    @apply flex gap-4 px-8 py-4 absolute right-0 bottom-0 bg-white/75 rounded-xl;
  }

  .hero-section__card-title {
    @apply font-medium;
  }
  .hero-section__card-category {
    @apply text-dim-gray;
  }
  .hero-section__card-stars {
    @apply flex items-center gap-2;
  }
}

/* ! receipt */
@layer components {
  .receipt-section {
    @apply space-y-8;
  }
  .receipt-section__header {
    @apply container;
  }
  .receipt-section__title {
    @apply text-4xl space-x-2 font-medium;
  }
  .receipt-section__highlight {
    @apply text-avocado-500;
  }
  .receipt-slider {
    @apply flex items-center gap-8 overflow-x-auto  pb-4 scroll-smooth;
  }
  .receipt-slider__item {
    @apply px-6 py-3 rounded-xl gap-2 w-[230px] h-[175px] flex flex-col justify-center items-center flex-shrink-0 hover:scale-115 transition-transform duration-300 ease-in-out;
  }

  .receipt-slider__title {
    @apply font-medium;
  }

  .receipt-actions {
    @apply container flex items-end justify-end gap-4 mt-4;
  }
  .receipt-actions__button {
    @apply flex items-center px-6 py-3 rounded-4xl;
  }
  .receipt-actions__icon-wrapper {
    @apply w-[33px] h-[33px] flex justify-center items-center bg-white rounded-full mr-2;
  }
  .receipt-actions__icon {
    @apply p-1;
  }
}

/* ! trending receipt */
@layer components {
  .trending-receipt-content {
    @apply container;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(287px, 1fr));
    gap: 20px;
  }
  .trending-receipt-item {
    @apply px-5 py-8 space-y-2;
  }
  .trending-receipt-img {
    @apply rounded-lg;
  }
  .trending-receipt__title {
    @apply text-lg font-medium;
  }
  .trending-receipt__category {
    @apply text-avocado-500 font-medium;
  }
  .trending-receipt__stars {
    @apply flex items-center gap-2;
  }
  .trending-receipt__button-wrapper {
    @apply mx-auto flex justify-center;
  }
  .trending-receipt__button {
    @apply px-6 py-2 rounded-3xl;
  }
}
